<link rel="stylesheet" href="/css/home.css" />

<div class="wrapper">
  <div class="home-container">


    <form class="search-bar" action="/search" method="post">
      <input
        type="search"
        id="search"
        name="search"
        autocomplete="off"
        placeholder="Search..."
        data-search
      />
      <button type="submit" class="search-btn hide">Go</button>
    </form>
  </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js/db.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
